<nav>
  <div class="nav-wrapper">
    <img style="width: 60px;" src="../assets/images/aa.png" alt="">
    <a href="#" class="brand-logo">Serenity Searchers</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a (click)="TreatmentMaps()">Treatment</a></li>
      <li><a (click)="MeetingMaps()">Meetings</a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col">
    <app-show></app-show>
  </div>
  <div class="col">
    <app-map *ngIf="MapSwitch==true" id="meetingMap"></app-map>
    <app-map-t *ngIf="MapSwitch==false"  id="treatmentMap"></app-map-t>
  </div>
</div>
<app-list *ngIf="ListSwitch==true" id="meetingList"></app-list>
<app-list-t *ngIf="ListSwitch==false"></app-list-t>
<router-outlet></router-outlet>